#Frontend
VUE_CONTAINER_NAME=<VUE_CONTAINER_NAME>
VUE_INTERNAL_PORT=<VUE_INTERNAL_PORT>
VUE_EXTERNAL_PORT=<VUE_EXTERNAL_PORT>

#Backend Ports
API_CONTAINER_NAME=<API_CONTAINER_NAME>
API_PORT=<API_PORT>
API_URL=http://localhost

#DB Ports
DB_CONTAINER_NAME=<DB_CONTAINER_NAME>
DB_INTERNAL_PORT=<DB_INTERNAL_PORT>
DB_EXTERNAL_PORT=<DB_EXTERNAL_PORT>

DB_USER=testuser
DB_PASSWORD=testpass
DB_NAME=testname
DB_HOST=http://localhost
DB_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_EXTERNAL_PORT}/${DB_NAME}?schema=public"